*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:linear-gradient(180deg,#030712,#0f172a,#111827);
    color:white;
    overflow:hidden;
}

/* Semua halaman */
section{
    width:100%;
    height:100vh;

    display:none;

    justify-content:center;
    align-items:center;
    flex-direction:column;

    text-align:center;

    padding:30px;
}

#opening{
    display:flex;
}

h1{
    font-size:2.3rem;
    margin-bottom:20px;
}

h2{
    color:#ffd54f;
    margin-bottom:20px;
}

p{
    max-width:700px;
    line-height:1.9;
    font-size:18px;
}

button{
    margin-top:35px;

    padding:15px 40px;

    border:none;
    border-radius:50px;

    background:white;
    color:#111;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

button:hover{
    transform:scale(1.08);
}

/* Kotak surat */

#letterBox{

    max-width:700px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:20px;

    padding:35px;

    box-shadow:0 0 35px rgba(255,255,255,.08);

}

/* Langit */

#stars{

position:fixed;

left:0;
top:0;

width:100%;
height:100%;

z-index:-1;

overflow:hidden;

}

.star{

position:absolute;

width:3px;
height:3px;

background:white;

border-radius:50%;

animation:twinkle 2s infinite alternate;

}

@keyframes twinkle{

from{
opacity:.3;
transform:scale(.8);
}

to{
opacity:1;
transform:scale(1.6);
}

}

/* Fade */

.fade{

animation:fade .9s;

}

@keyframes fade{

from{
opacity:0;
transform:translateY(25px);
}

to{
opacity:1;
transform:translateY(0);
}

}

/* Ending */

#ending{

background:#030712;

}
